<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/Dashboard.css">
    <title>Document</title>
</head>
<body>
    <aside class="a1">
        <div class="a2">
            <div class="a3"></div>
        </div>
        <div class="a4">
            <ul>
                <li type="square">Dashboard</li>
                <li type="square">Post</li>
                <li type="square">Categories</li>
                <li type="square">Media</li>
                <li type="square">Pages</li>
            </ul>
        </div>
        <div class="ab"></div>
        <div class="a5">
            <ul>
                <li type="square">Users</li>
                <li type="square">Settings</li>
            </ul>
        </div>
    </aside>
    <main class="b">
        <div class="b1">
            <div class="b2">
                <div class="b3">
                    
                </div>
                <div class="b4">
                    <input type="search" placeholder="Search">
                </div>
            </div>
            <div class="b5">
                    <div class="b6">
                        EN
                        <div class="b6-6"></div>
                    </div>
                <div class="b7"></div>
                <div class="b8"></div>
            </div>
        </div>
        <div class="n1"><p>Deshaboard</p></div>
        <section class="n2">
            <div class="n3">
                <div class="m1"></div>
                <div class="m2">1 200 000  <br>total  visits</div>
            </div>
            <div class="n3">
                <div class="m1"></div>
                <div class="m2">1 200 000  <br>total  visits</div>
            </div>
            <div class="n3">
                <div class="m1"></div>
                <div class="m2">1 200 000  <br>total  visits</div>
            </div>
            <div class="n3">
                <div class="m1"></div>
                <div class="m2">1 200 000 <br> total  visits </div>
            </div>
        </section>

        <article class="contenedor">
            <aside class="aside1">
                <section class="parte1">
                    <div class="p1">New custormers</div>
                    <div class="p1">+1000</div>
                    <div class="p1">per day</div>
                </section>
                <section class="parte2">
                    <p>
                        categories on Top
                    </p>
                    <div class="o">
                        <div class="o11">Category
                            <p>Users</p>
                        </div>
                        <div class="o1">UX design
                            <p>1,2k</p>
                        </div>
                        <div class="o1">Math
                            <p>1,1k</p>
                        </div>
                        <div class="o1">History
                            <p>943</p>
                        </div>
                        <div class="o1">Tutorials
                            <p>781</p>
                        </div>
                        <div class="o1">Development
                            <p>428</p>
                        </div>
                        <div class="o1">Beauty
                            <p>456</p>
                        </div>
                        <div class="o1">Beauty
                            <p>285</p>
                        </div>
                    </div>


                </section>
            </aside>
            <article class="cont2">
                <section class="k1">
                    <div class="ll">
                        <div class="l1">Visitor Statistics</div>
                        <div class="l1">
                            8 Month<input type="checkbox">
                        </div>
                    </div>
                    <section class="l3"></section>
                </section>
                <section class="k2">
                    <div class="f1">latest posts</div>
                    <div class="f2">
                        <div class="h1">
                            <div class="j1">Date&Time</div>
                            <div class="j1">Cover</div>
                            <div class="j1">Title</div>
                            <div class="j1">Author</div>
                            <div class="j1">Status</div>
                        </div>
                        <div class="h2">
                            <div class="d2">
                                <p>11 sept at 12.20am</p>
                                <div class="cuadritoo1"></div>
                                <p> Reddit vs WallStreet: GameStop Saga Explained</p>
                                <p>Anna Patrik</p>
                                <div class="activee">Active</div>
                            </div>
                            <div class="d2">
                                <p>11 sept at 12.20am</p>
                                <div class="cuadritoo1"></div>
                                <p> Reddit vs WallStreet: GameStop Saga Explained</p>
                                <p>Anna Patrik</p>
                                <div class="activee">Active</div>
                            </div>
                            <div class="d2">
                                <p>11 sept at 12.20am</p>
                                <div class="cuadritoo1"></div>
                                <p> Reddit vs WallStreet: GameStop Saga Explained</p>
                                <p>Anna Patrik</p>
                                <div class="activee">Active</div>
                            </div>
                            <div class="d2">
                                <p>11 sept at 12.20am</p>
                                <div class="cuadritoo1"></div>
                                <p> Reddit vs WallStreet: GameStop Saga Explained</p>
                                <p>Anna Patrik</p>
                                <div class="activee">Active</div>
                            </div>
                            <div class="d2">
                                <p>11 sept at 12.20am</p>
                                <div class="cuadritoo1"></div>
                                <p> Reddit vs WallStreet: GameStop Saga Explained</p>
                                <p>Anna Patrik</p>
                                <div class="activee">Active</div>
                            </div>
                        </div>
                    </div>
                </section>
            </article>
        </article>

    </main>
</body>
</html>