<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/index.css">
    <title>Document</title>
</head>
<body>
    <main class="login">
        <span>
            <div class="hora1"><time datetime="9:41">9:41</time></div>
            <div class="hora2">a b c</div>
        </span>
        <div class="cont1-2">
            <div class="flech"></div>
            <h1>LOGIN</h1>
        </div>
        <article class="cont2-2">
            <div class="cd1-2">
                <p>Enter email address</p>
                <div class="email">
                    <input type="text" placeholder="example@gmail.com">
                </div>
            </div>
            <div class="cd2-2">
                <p>Enter password</p>
                <div class="password">
                    <input type="password" placeholder="****">
                </div>
            </div>
            <p class="cd3-2">Forgot Your password?</p>
            <a href="profile.html" class="cd4-2">
                <b> LOGIN</b>
            </a>    
        </article>
        <article class="cont3-2">
            <div class="abajo-2">
                <div class="ab-2"></div>
                <div class="ab1-2">Or</div>
                <div class="ab-2"></div>
            </div>
            <div class="abajo1-2">
                <div class="squale"></div>
                <div class="squale"></div>
                <div class="squale"></div>
            </div>
            <p class="abajo2-2"><b> Don't have an account yet?</b></p>
            <a href="Index1.html" class="abajo3-2">
                <b>REGISTER</b>
            </a> 
        </article>
    </main>
</body>
</html>