<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/privio.css">
    <link rel="stylesheet" href="../icons/all.min.css">
    <title>Document</title>
</head>
<body>
    <main class="main-trailer">
        <section class="trailer">
                <div class="hora">
                    <time datetime="3:49">3:49</time>
                    <p>
                        <i class="fa-solid fa-signal"></i>
                        <i class="fa-solid fa-wifi"></i>
                        <i class="fa-solid fa-battery-full"></i>
                    </p>
                </div>
            <div class="trailer2">
                <i class="fa-solid fa-arrow-left"></i>
            </div>
            <div class="trailer3">
                <p>
                    <i class="fa-solid fa-play"></i>
                </p>
            </div>
            <div class="trailer4">
                <div class="tr4">
                    <i class="fa-solid fa-play"></i>
                    <i class="fa-solid fa-volume-high"></i>
                    <p>0:13 / 2:53</p>
                </div>
                <div class="tr4-1">
                    <i class="fa-solid fa-square-h"></i>
                    <i class="fa-solid fa-vector-square"></i>
                </div>
            </div>
            <progress value="2.5" max="10"></progress>
        </section>
        <section class="trailer5">
            <div class="tr5">
                <p>Wonder Woman Final Trailer</p>
            </div>
            <div class="tr6">2019 | Trailer | 2:53 min | EN</div>
            <div class="tr7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam pariatur ullam sapiente quidem itaque distinctio. Temporibus doloremque impedit sunt cupiditate hic. Qui doloribus nemo fugit nisi praesentium nobis aspernatur rem maiores nostrum, corporis quisquam explicabo.</div>
            <div class="tr8">
                <div class="t8">
                    <i class="fa-regular fa-comment"></i>
                    <p>LEAVE A COMMENT</p>
                </div>
            </div>
            <div class="tr9"></div>
        </section>
    </main>
    
</body>
</html>