<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/privio.css">
    <link rel="stylesheet" href="../icons/all.min.css">
    <link rel="stylesheet" href="icons/all.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="hora">
            <time datetime="3:49">3:49</time>
            <p>
                <i class="fa-solid fa-signal"></i>
                <i class="fa-solid fa-wifi"></i>
                <i class="fa-solid fa-battery-full"></i>
            </p>
        </div>
        <div class="cont-privio">
            <div class="privio">
                <i class="fa-solid fa-bars"></i>
                <div class="cont-a1">
                    <i class="fa-brands fa-react"></i>
                    <div class="a1">Privio</div>
                </div>
            </div>
            <div class="privio1">
                <i class="fa-solid fa-bell"></i>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <div class="dashboard">
            <h2>Dashboard</h2>
        </div>
        <div class="cont-pelis">
            <div class="peli">
                <div class="pel">
                    <div class="img-peli">
                        <p>
                            <i class="fa-solid fa-play"></i>
                        </p>
                    </div>
                    <div class="info-peli">
                        <div class="inf1">
                            <div class="new">NEW</div>
                            <div class="fech-hora">
                                <time datetime="28/11/2019">28.11.2019 </time>
                                |
                                <time datetime="12:46">12:46</time>
                            </div>
                        </div>
                        <div class="inf2">Avengers: age of ultron</div>
                        <div class="inf3">Trailer | EN</div>
                    </div>
                </div>
            </div>
            <div class="peli1">
                <div class="pel">
                    <div class="img-peli">
                        <p>
                            <i class="fa-solid fa-play"></i>
                        </p>
                    </div>
                    <div class="info-peli">
                        <div class="inf1">
                            <div class="new">EXPIRED</div>
                            <div class="fech-hora">
                                <time datetime="28/11/2019">28.11.2019 </time>
                                |
                                <time datetime="12:46">12:46</time>
                            </div>
                        </div>
                        <div class="inf2">Joker (2019)</div>
                        <div class="inf3">Trailer | EN</div>
                    </div>
                </div>
            </div>
            <div class="peli2">
                <div class="pel">
                    <div class="img-peli">
                        <p>
                            <i class="fa-solid fa-play"></i>
                        </p>
                    </div>
                    <div class="info-peli">
                        <div class="inf1">
                            <div class="new">EXPIRED</div>
                            <div class="fech-hora">
                                <time datetime="28/11/2019">28.11.2019 </time>
                                |
                                <time datetime="12:46">12:46</time>
                            </div>
                        </div>
                        <div class="inf2">Django Unchained (2012)</div>
                        <div class="inf3">Trailer | EN <i class="fa-solid fa-lock"></i></div>
                    </div>
                </div>
            </div>
            <div class="peli3">
                <div class="pel">
                    <div class="img-peli">
                        <p>
                            <i class="fa-solid fa-play"></i>
                        </p>
                    </div>
                    <div class="info-peli">
                        <div class="inf1">
                            <div class="new">NEW</div>
                            <div class="fech-hora">
                                <time datetime="28/11/2019">28.11.2019 </time>
                                |
                                <time datetime="12:46">12:46</time>
                            </div>
                        </div>
                        <div class="inf2">The King's Man</div>
                        <div class="inf3">Trailer | EN</div>
                    </div>
                </div>
            </div>
            <div class="peli4">
                <div class="pel">
                    <div class="img-peli">
                        <p>
                            <i class="fa-solid fa-play"></i>
                        </p>
                    </div>
                    <div class="info-peli">
                        <div class="inf1">
                            <div class="new">VIEWED</div>
                            <div class="fech-hora">
                                <time datetime="28/11/2019">28.11.2019 </time>
                                |
                                <time datetime="12:46">12:46</time>
                            </div>
                        </div>
                        <div class="inf2">Wonder Woman</div>
                        <div class="inf3">Trailer | EN</div>
                    </div>
                </div>
            </div>
            <div class="peli5">
                <div class="pel">
                    <div class="img-peli">
                        <p>
                            <i class="fa-solid fa-play"></i>
                        </p>
                    </div>
                    <div class="info-peli">
                        <div class="inf1">
                            <div class="new">VIEWED</div>
                            <div class="fech-hora">
                                <time datetime="28/11/2019">28.11.2019 </time>
                                |
                                <time datetime="12:46">12:46</time>
                            </div>
                        </div>
                        <div class="inf2">Avengers: age of ultron</div>
                        <div class="inf3">Trailer | EN</div>
                    </div>
                </div>
            </div>
            <div class="peli">
                <div class="pel">
                    <div class="img-peli">
                        <p>
                            <i class="fa-solid fa-play"></i>
                        </p>
                    </div>
                    <div class="info-peli">
                        <div class="inf1">
                            <div class="new">NEW</div>
                            <div class="fech-hora">
                                <time datetime="28/11/2019">28.11.2019 </time>
                                |
                                <time datetime="12:46">12:46</time>
                            </div>
                        </div>
                        <div class="inf2">Avengers: age of ultron</div>
                        <div class="inf3">Trailer | EN</div>
                    </div>
                </div>
            </div>
            <div class="peli1">
                <div class="pel">
                    <div class="img-peli">
                        <p>
                            <i class="fa-solid fa-play"></i>
                        </p>
                    </div>
                    <div class="info-peli">
                        <div class="inf1">
                            <div class="new">EXPIRED</div>
                            <div class="fech-hora">
                                <time datetime="28/11/2019">28.11.2019 </time>
                                |
                                <time datetime="12:46">12:46</time>
                            </div>
                        </div>
                        <div class="inf2">Joker (2019)</div>
                        <div class="inf3">Trailer | EN</div>
                    </div>
                </div>
            </div>
            <div class="peli2">
                <div class="pel">
                    <div class="img-peli">
                        <p>
                            <i class="fa-solid fa-play"></i>
                        </p>
                    </div>
                    <div class="info-peli">
                        <div class="inf1">
                            <div class="new">EXPIRED</div>
                            <div class="fech-hora">
                                <time datetime="28/11/2019">28.11.2019 </time>
                                |
                                <time datetime="12:46">12:46</time>
                            </div>
                        </div>
                        <div class="inf2">Django Unchained (2012)</div>
                        <div class="inf3">Trailer | EN<i class="fa-solid fa-lock"></i></div>
                    </div>
                </div>
            </div>
            <div class="peli3">
                <div class="pel">
                    <div class="img-peli">
                        <p>
                            <i class="fa-solid fa-play"></i>
                        </p>
                    </div>
                    <div class="info-peli">
                        <div class="inf1">
                            <div class="new">NEW</div>
                            <div class="fech-hora">
                                <time datetime="28/11/2019">28.11.2019 </time>
                                |
                                <time datetime="12:46">12:46</time>
                            </div>
                        </div>
                        <div class="inf2">The King's Man</div>
                        <div class="inf3">Trailer | EN</div>
                    </div>
                </div>
            </div>
            <div class="peli4">
                <div class="pel">
                    <div class="img-peli">
                        <p>
                            <i class="fa-solid fa-play"></i>
                        </p>
                    </div>
                    <div class="info-peli">
                        <div class="inf1">
                            <div class="new">VIEWED</div>
                            <div class="fech-hora">
                                <time datetime="28/11/2019">28.11.2019 </time>
                                |
                                <time datetime="12:46">12:46</time>
                            </div>
                        </div>
                        <div class="inf2">Wonder Woman</div>
                        <div class="inf3">Trailer | EN</div>
                    </div>
                </div>
            </div>
            <div class="peli5">
                <div class="pel">
                    <div class="img-peli">
                        <p>
                            <i class="fa-solid fa-play"></i>
                        </p>
                    </div>
                    <div class="info-peli">
                        <div class="inf1">
                            <div class="new">VIEWED</div>
                            <div class="fech-hora">
                                <time datetime="28/11/2019">28.11.2019 </time>
                                |
                                <time datetime="12:46">12:46</time>
                            </div>
                        </div>
                        <div class="inf2">Avengers: age of ultron</div>
                        <div class="inf3">Trailer | EN</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>