<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/privio.css">
    <link rel="stylesheet" href="../icons/all.min.css">
    <link rel="stylesheet" href="icons/all.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="hora">
            <time datetime="3:49">3:49</time>
            <p>
                <i class="fa-solid fa-signal"></i>
                <i class="fa-solid fa-wifi"></i>
                <i class="fa-solid fa-battery-full"></i>
            </p>
        </div>
        <div class="cont-privio">
            <div class="privio">
                <i class="fa-solid fa-bars"></i>
                <div class="cont-a1">
                    <i class="fa-brands fa-react"></i>
                    <div class="a1">Privio</div>
                </div>
            </div>
        </div>
        <div class="dashboard">
            <h2>Send new preview</h2>
        </div>
        <div class="cont-search">
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" placeholder=" Search ">
            </div>
            <div class="fig-search">
            <i class="fa-solid fa-arrow-down-z-a"><p>Newest</p></i>
            <i class="fa-solid fa-clock-rotate-left"><p>Date</p></i>
            </div>
        </div>
        <div class="cont-pelis-search">
            <div class="peli-search">
                <div class="pel-search">
                    <div class="img-peli">
                        <p>
                            <i class="fa-solid fa-play"></i>
                        </p>
                    </div>
                    <div class="info-peli-search">
                        <div class="inf2">Avengers: age of ultron</div>
                    </div>
                </div>
                <div class="pel1-search">
                    <div class="img-peli">
                        <p>
                            <i class="fa-solid fa-play"></i>
                        </p>
                    </div>
                    <div class="info-peli-search">
                        <div class="inf2">Joker (2019)</div>
                    </div>
                </div>
            </div>
            <div class="peli-search">
                <div class="pel2-search">
                    <div class="img-peli">
                        <p>
                            <i class="fa-solid fa-play"></i>
                        </p>
                    </div>
                    <div class="info-peli-search">
                        <div class="inf2">Django unchained (2012)</div>
                    </div>
                </div>
                <div class="pel3-search">
                    <div class="img-peli">
                        <p>
                            <i class="fa-solid fa-play"></i>
                        </p>
                    </div>
                    <div class="info-peli-search">
                        <div class="inf2">The Kings Man</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>