<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/index.css">
    <title>Document</title>
</head>
<body class="body3">
    <main class="profile-main">
        <span>
            <div class="hora1"><time datetime="9:41">9:41</time></div>
            <div class="hora2">a b c</div>
        </span>
        <div class="coa">
            <div class="coach">
                <div class="coach1">
                    <a href="login.html" class="flech-3"></a>
                    <h1>COACH</h1>
                </div>
                <div class="carita"></div>
            </div>
        </div>
        <article class="elon">
            <div class="img-elon"><img src="../Img/elon.jpg" alt=""></div>
            <p>Elonk Musk</p>
            <div class="south">
                <i></i>
                <p>South Africa</p>
            </div>
        </article>
        <div class="expert">
            <div class="expert1">
                <div class="exp1">
                    <i></i>
                    <p>Expert</p>
                </div>
                <div class="exp2">
                    <i></i>
                    <p>30 $ per hour</p>
                </div>
            </div>
        </div>
        <div class="coah-part-abajo">
            <div class="ite">
                <div class="cuad1">
                    <div class="cud"></div>
                    <p>Articles</p>
                </div>
                <div class="cuad1">
                    <div class="cud1"></div>
                    <p>Videos</p>
                </div>
                <div class="cuad1">
                    <div class="cud2"></div>
                    <p>Podcast</p>
                </div>
            </div>
            <div class="teaches">
                <div class="fil">
                    <p>Teaches:</p>
                    <div class="fil-1">
                        <p>Conflict Management</p>
                    </div>
                </div>
                <div class="fil">
                    <div class="fi"><p> Team Management</p></div>
                    <div class="fi1"><p> Career Skills</p></div>
                </div>
            </div>
            <div class="speak">
                <div class="spk">
                    <p>Speaks:</p>
                    <p> English (Native) Spanish(Native)</p>
                </div>
                <div class="comentario">
                    <div class="coment-1">...</div>
                </div>
            </div>
        </div>
        <div class="barra-abajo">
            <div class="icon"></div>
            <div class="icon"></div>
            <div class="icon"></div>
            <div class="icon"></div>
            <div class="icon"></div>
        </div>
    </main>
</body>
</html>